<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quinto2019">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/war"
        android:label="Casv"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".vista.actividades.PracticaImagen"></activity>
        <activity android:name=".vista.actividades.ActivityMP" />
        <activity android:name=".vista.actividades.ActivityMI" />
        <activity android:name=".vista.actividades.ActivityRecyclerArtistas" />
        <activity
            android:name=".ActivityMenu"
            android:label="Casv"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".vista.actividades.ActivityEscucharFragmento" />
        <activity android:name=".vista.actividades.ActivityFragmento" />
        <activity android:name=".vista.actividades.ActivityRecepcion" />
        <activity android:name=".vista.actividades.ActivityEnvio" />
        <activity android:name=".vista.actividades.ActivitySuma" />
        <activity android:name=".vista.actividades.ActivityLogin" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>